/* .hero {
  height: calc(100vh - 70px);
  background-image: url('../../images/rickshaw.jpg');
  color: white;
} */

.hero {
  color: white;
}

.blog-img {
  height: 500px;
  width: 500px;
  background-image: url('../../images/rickshaw.jpg');
}

.victim-image {
  border-radius: 25px 25px 0px 25px;
}

.places-carousel .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.places-carousel .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgba(51, 63, 87, 0.1);
  display: inline-block;
  transition: all 0.3s;
  margin: 0 10px;
  transform: scale(0.8);
}

.places-carousel .slick-slide {
  padding: 0 10px;
}

.places-carousel .slick-dots li.slick-active {
  transform: scale(1);
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}
.places-carousel .slick-dots li button {
  padding: 0;
}
.places-carousel .slick-dots li button:before {
  display: none;
}

.title-shape {
  width: 65px;
  height: 4px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #2a9d8f;
  position: relative;
}
.title-shape:after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 13px;
  width: 6px;
  height: 5px;
  background-color: #fff;
}

/* Hero */

.project-desc {
  background: #2a9d8f;
  padding-left: 2.5rem;
  border-radius: 13px 0 0 13px;
}

.research-areas {
  border-radius: 7px;
  color: rgb(51, 63, 87);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  background: #f5f7fc;
  bottom: 3rem;
  gap: 2rem;
  width: calc(100% - 450px);
  left: 2.5rem;
  bottom: 7rem;
  justify-content: space-around;
  position: absolute;
}

.container-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 13px 13px 0;
}

.img-div-container {
  background-image: url('../../images/rickshaw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.desc-container {
  /* position: relative; */
}

@media (max-width: 1400px) {
  .research-areas {
    bottom: 3rem;
  }
}

@media (max-width: 1200px) {
  .research-areas {
    position: absolute;
    width: calc(100% - 90px);
    bottom: 0.5rem;
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 1023px) {
  .victim-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .victim-description {
    margin-left: 0 !important;
  }
}

@media (max-width: 992px) {
  .research-areas {
    position: relative;
    margin: 0 !important;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 1rem !important;
  }

  .desc-container {
    flex-direction: column;
  }

  .img-container {
    display: none;
  }

  .research-areas {
    flex-direction: column;
  }

  .project-desc {
    padding: 2rem;
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .victim-container {
    flex-direction: column;
    align-items: center;
  }

  .victim-description {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 1rem;
  }
}
