.bottom-controls {
  box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  -moz-box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
  margin-left: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 0.3rem;
  border: 1px solid #bababa;
  border-radius: 5px;
  /* margin-left: 0.5rem; */
  width: 250px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
}

.selected-option {
  border: 3px solid #2a9d8f;
}

.controls:hover {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.active-option-text {
  font-weight: 600;
  color: #2a9d8f;
  padding: 0.3rem;
  text-align: center;
}

.option-text {
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.3rem;
  text-align: center;
}

.highlight {
  border-radius: 19px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 7px 7px 14px #dbdbdb, -7px -7px 14px #ffffff;
  padding: 28px 23px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.highlight-selected {
  border-radius: 19px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 7px 7px 14px #dbdbdb, -7px -7px 14px #ffffff;
  padding: 28px 23px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.highlight:hover {
  background: linear-gradient(145deg, #ffffff, #e1e1e1);
  box-shadow: 9px 9px 18px #d5d5d5, -9px -9px 18px #ffffff;
}

.selected-highlight {
  background: #5d5d5d;
  color: white;
  box-shadow: unset;
}
