.bottom-controls {
  box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  -moz-box-shadow: 10px 10px 18px 0px rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-right: 2px solid rgba(255, 255, 255, 0.26);
  padding: 1rem;
}

.active-control-text {
  font-weight: 600;
  color: #2A9D8F;
  padding-left: 1rem;
  text-align: center;
}

.control-text {
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 1rem;
  text-align: center;
}
